{% extends "dataviewer/base.html" %}

{% block page %}
    <div data-module="olpreview" id="data-preview">
        <h4 class="loading-dialog">
          <div class="loading-spinner"></div>
          <div class="left">{{ _('Loading...') }}</div>
        </h4>
    </div>

    {% resource 'ckanext-geoview/openlayers3' %}
    {% resource 'vendor/bootstrap' %}
{% endblock %}

{# remove any scripts #}
{% block scripts %}
    {{ super() }}
    <script src="http://ol3js.org/en/master/build/ol-whitespace.js"></script>
{% endblock %}

{# remove any ckan styles #}
{% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://ol3js.org/en/master/build/ol.css" type="text/css" />
{% endblock %}
